<!DOCTYPE html>
<html lang="en">

<head>
  <title>Weeb Creator</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('navbar') %>
  <h1>Have fun! 🥔</h1>
  <p>
    <% for (i in allStories) {%>
      <a href="/story/1">
      <%= allStories[i].title %>
    </a>
      <br>
      <%= allStories[i].contents %>
      <br>
      Number of contributions: 3
      <br>
      <button onclick="location.href = `story/${allStories[i].id}`;" type="button" value="redirect" class="btn btn-primary" id="contribute-button">Add Contribution</button>
      <br>
      <%}%>
  <p>
</body>

</html>
