<div>
  <nav class="nav" class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">
    </a>
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">WEEB CREATOR</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CREATE NEW STORY</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT</a>
    </div>
  </div>
</div>
  </nav>
</div>
