body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #fdb813;
  background: linear-gradient(
    227deg,
    #fdb813 0%,
    rgb(171, 138, 17) 20%,
    rgb(178, 121, 61) 34%,
    rgb(163, 144, 106) 59%,
    #47494e 74%,
    rgb(77, 70, 70) 100%
  );
  // background-color: #fdb813;
  // background-image: linear-gradient(227deg, #fdb813 0%, #788cb6 74%);
}

