header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: #23252b;
  color: #FFFFFF;
  position: fixed;
  top: 0px;
}

h1 {
  font-size: 700;
}
